/*html {
	overflow: hidden;
}*/
body {
	background-color: #537bc3;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}
.centered-div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.home-screen {
	width: 25vw;
	min-width: 300px;
	padding: 20px;
	background-color: #3f5f98;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	color: white;
	margin: 10vh auto;
	position: relative; /* Keep relative for positioning pseudo-elements */
}
.home-screen img {
	max-width: 15vw;
	min-width: 130px;
	height: auto;
}
.home-screen h1 {
	font-size: 1rem;
	text-align: center;
}
.home-screen input {
	outline: none;
	border: none; /* Remove default borders except the bottom */
	border-bottom: 2px solid white; /* Set a white bottom border */
	font-family: 'Poppins', sans-serif;
	color: white;
	background: none;
	width: 100%;
	height: 40px;
	padding: 0 7px 0 43px; /* Space for icon */
	position: relative; /* Position relative to use absolute child */
	transition: color 0.3s ease; /* Smooth transition for text color */
}

/* Pseudo-element for the transition effect */
.home-screen input::after {
	content: '';
	position: absolute;
	bottom: 0; /* Position at the bottom of the input */
	left: 0; /* Start from the left */
	width: 100%; /* Full width */
	height: 2px; /* Height of the transition */
	background: red; /* Color of the transition */
	transform: scaleX(0); /* Start scaled down to 0 */
	transition: transform 0.3s ease; /* Smooth transition */
}

/* On focus, animate the border to red */
.home-screen input:focus {
	color: white; /* Keep the text color white when focused */
}

.home-screen input:focus::after {
	transform: scaleX(1); /* Scale to full width on focus */
}

/* Placeholder styling */
::placeholder {
	color: black;
	opacity: 0.75; /* Firefox */
	transition: opacity 0.3s ease;
}

::-ms-input-placeholder { /* Edge 12-18 */
	color: black;
	opacity: 0.75;
	transition: opacity 0.3s ease;
}

.username, .password, .forget-password{
	margin-bottom: 20px;
}

.username::before, .password::before {
	font-family: 'Font Awesome 5 Free'; /* Specify the Font Awesome family */
	font-weight: 900; /* Use solid icons */
	position: absolute;
	left: 10px; /* Adjust as needed */
	top: 50%;
	transform: translateY(-50%);
	color: white; /* Icon color */
	font-size: 16px; /* Adjust icon size */
}

.username::before {
	content: '\f007';
}

.password::before {
	content: '\f023';
}

.home-screen input:focus::placeholder {
	opacity: 0; /* Make placeholder disappear when focused */
}
.btn-submit{
	font-size: 16px;
	font-family: 'Poppins';
	color: #3f5f98;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 40px;
	background-color: white;
	outline: 0;
	border: none;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: transform 0.1s ease, box-shadow 0.1s ease; 
}
/* Pointer cursor on hover */
.btn-primary:hover {
	background-color: #e8e8e8; 
}

/* Click effect */
.btn-primary:active {
	transform: scale(0.95); 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.forget-password {
	width: 100%; /* Ensure it takes full width */
	text-align: right; /* Align the link to the right */
}
.forget-password a {
	font-size: 0.75rem;
	display: inline-block; /* Ensures the link behaves like a block element */
	color: white; /* Ensures the text is visible */
	cursor: pointer;
}
.wd-100{
	width: 100%;
}
.dis-flex-cen{
	display: flex;
	justify-content: center;
}
.dis-flex-right{
	display: flex;
	justify-content: right;
}

/*------------------------------------ Attendance Sheet ------------------------------------*/

.row-ham{
	display: flex;
	justify-content: flex-end;
}
.side-nav{
	position: fixed;
	height: 100vh;
	width: 20vw;
	top: 0;
	transform: translateX(-18vw);
	background-color: #3f5f98;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	padding: 11px;
	transition: all 0.5s ease;
	z-index: 999;
}
.dashboard{
	left: 4vw;
	position: relative;
	width: 96vw;
	padding-right: 4vw;
}
.side-nav:hover{
	transform: translateX(0vw);
}
table {
	width: 100%;
	border-collapse: collapse;
	font-size: 10px;
}
th, td {
	border: solid #ddd;
	border-width: 0px 0px 1px 0px;
	padding: 8px;
	text-align: left;
}
th {
	background-color: #f2f2f2;
}
.add-row-btn {
	margin: 10px 0;
	padding: 5px 10px;
	background-color: #ffffff;
	color: #537bc3;
	border: none;
	cursor: pointer;
	font-size: 12px;
	border-radius: 7px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.add-row-btn:hover {
	background-color: #f2f2f2;
}
.header{
	align-items: center;
}
.header h2{
	color: white;
}
.header img{
	max-width: 50px;
}
.header .col-2, .col-1{
	display: flex;
	justify-content: center;
}
tbody{
	color: white;
}
table input{
	width: 100%;
	outline: none;
	border: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	background: none;
	position: relative;
	transition: color 0.3s ease;
}
table tr{
	display: flex;
}
thead th:nth-child(1), tbody td:nth-child(1) {
	width: 12vw;
}
thead th:nth-child(2), tbody td:nth-child(2) {
	width: 3vw;
}
thead th:nth-child(3), tbody td:nth-child(3) {
	width: 5vw;
}
thead th:nth-child(4), tbody td:nth-child(4) {
	width: 5vw;
}
thead th:nth-child(5), tbody td:nth-child(5) {
	width: 7vw;
}
thead th:nth-child(6), tbody td:nth-child(6) {
	width: 7vw;
}
thead th:nth-child(7), tbody td:nth-child(7) {
	width: 6vw;
}
thead th:nth-child(8), tbody td:nth-child(8) {
	width: 4vw;
}
thead th:nth-child(9), tbody td:nth-child(9) {
	width: 6vw;
}
thead th:nth-child(10), tbody td:nth-child(10) {
	width: 7vw;
}
thead th:nth-child(11), tbody td:nth-child(11) {
	width: 8vw;
}











.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* Tooltip text styling */
.tooltip .tooltip-text {
	visibility: hidden;
	width: 160px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 8px;
	position: absolute;
	z-index: 1;
	bottom: 125%; /* Adjusts position above the td */
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
	font-size: 14px;
}

/* Arrow below the tooltip */
.tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}

/* Show tooltip on hover */
.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}













/* Modal styling */
.modal {
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #3f5f9859;
	backdrop-filter: blur(3px);
	justify-content: center;
	align-items: center;
}
.modal-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	width: 300px;
	text-align: center;
	position: relative;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.dropdown{
	margin: 10px 0;
	margin-bottom: 0;
	padding: 5px 10px;
	background-color: #ffffff;
	color: #537bc3;
	border: none;
	cursor: pointer;
	font-size: 12px;
	border-radius: 7px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	width: 90%;
}
.modal-content input {
	width: 90%;
	padding: 8px;
	margin: 8px 0;
	outline: none;
	border: none;
	border-bottom: 2px solid #3f5f98;
	font-family: 'Poppins', sans-serif;
	color: #000000;
	background: none;
	transition: color 0.3s ease;
	padding-bottom: 0;
}
.modal-content input:placeholder{
	color: black;
}
.modal-content button {
	padding: 8px 16px;
	margin-top: 10px;
	cursor: pointer;
}